.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 0;
}

.header-title {
  margin: 10px;
  max-width: 250px;
  width: 20%;
}

.filters-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and ( max-width : 767.98px ) {

  .header-title {
    width: 80%;
  }

  .filters-container {
    align-items: initial;
    flex-direction: column;
  }
}
