.filters-selected-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px 20px;
}

.filter-selected {
  align-items: center;
  background-color: rgb(255, 123, 0);
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: 5px 10px;
  max-width: 25vw;
  padding: 5px 10px;
}

.filter-selected button {
  align-items: center;
  background: red;
  border: 1px solid black;
  border-radius: 100%;
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: 900;
  height: 20px;
  justify-content: center;
  margin-right: 10px;
  width: 20px;
}

.filter-selected p {
  align-items: center;
  color: black;
  display: flex;
  margin: 0;
}
