.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.header-title {
  margin: 10px;
  width: 20%;
}

.filters-container {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
